.codeViewer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;

    &--dayPicker {
        display: flex;
        align-items: center;
        width: 100%;

        h1 {
            margin-right: 1rem;
            text-shadow: none;
        }

        select {
            color: #ccc;
            background: none;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: .25rem .5rem;
            font-size: 1.5rem;
            font-family: monospace;
            @extend .hover-click;
        }
    }

    &--codeToggler {
        display: flex;
        align-items: center;
        width: 10%;
        margin: 1rem 0;

        h2 {
            @extend .hover-click;
            &.active {
                @extend .highlight-text;
            }
        }

        span {
            margin: 0 .5rem;
        }
    }

    &--editorWrapper {
        display: flex;
        width: 100%;

        pre {
            flex: 1;
            background: none;
            border-radius: 5px;
            font-size: 1.25rem;
            overflow: auto;

            &:focus {
                outline: none;
            }

            color: #fff;
            border: 1px solid #ccc;
            height:45rem;
            counter-reset: line;
            display: flex;
            flex-direction: column;

            code {
                display: block;
                counter-increment: line;

                &:before {
                    content: counter(line) " ";
                    display: inline-block;
                    width: 2.25rem;
                    padding-left: 0.5em;
                    margin-left: auto;
                    text-align: right;
                    border-right: 1px solid #ccc;
                    margin-right: .5rem;
                    height: 100%;
                }

                &:last-of-type {
                    flex-grow: 1;
                }
            }
        }

        &--languagePicker {
            list-style-type: none;
            margin-left:1rem;
            li {
                font-size: 1.5rem;
                @extend .hover-click;
                &.active {
                    @extend .highlight-text;
                }

                margin-bottom: .5rem;
            }

        }
    }
}