* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: monospace;
    background-color: $bg-color;
    color: #ccc;
}

a {
    @extend .highlight-text;
    color: inherit;
    text-decoration: none;
}

h1 {
    @extend .highlight-text;
}

.highlight-text {
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
}
.hover-click {
    user-select: none;
    &:hover {
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}